@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");
:root {
  /* ===== Font family ===== */
  --font-kumbh: "Kumbh Sans", sans-serif;

  /* ===== Font weights ===== */
  --fw-regular: 400;
  --fw-bold: 700;

  /* ===== Line heights ===== */
  --lh-125: 1.25;

  /* ===== Letter spacing ===== */
  --ls-0: 0px;
  --ls-15: 1.5px;

  /* ===== Spacing ===== */
  --spacing-100: 0.8rem; /* 8px */
  --spacing-200: 1.6rem; /* 16px */
  --spacing-300: 2.4rem; /* 24px */
  --spacing-700: 5.6rem; /* 56px */

  /* ===== Text Presets ===== */

  /* Text Preset 1 — Bold (18px) */
  --tp-1-bold-font: var(--fw-bold) 1.8rem / var(--lh-125) var(--font-kumbh);
  --tp-1-bold-ls: var(--ls-0);

  /* Text Preset 1 — Regular (18px) */
  --tp-1-reg-font: var(--fw-regular) 1.8rem / var(--lh-125) var(--font-kumbh);
  --tp-1-reg-ls: var(--ls-0);

  /* Text Preset 2 — Regular (14px) */
  --tp-2-font: var(--fw-regular) 1.4rem / var(--lh-125) var(--font-kumbh);
  --tp-2-ls: var(--ls-0);

  /* Text Preset 3 — Regular (10px) */
  --tp-3-font: var(--fw-regular) 1rem / var(--lh-125) var(--font-kumbh);
  --tp-3-ls: var(--ls-15);

  /* ===== Colors ===== */

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --gray-100: hsl(225, 10%, 92%);
  --gray-500: hsl(227, 10%, 46%);
  --navy-950: hsl(229, 23%, 23%);

  /* Primary / Accents */
  --blue-400: hsl(183, 62%, 54%);
  --blue-600: hsl(185, 75%, 39%);

  /* Gradients */
  /* Note: Gradients are usually stored as the full property or the stop colors */
  --gradient-1-start: hsl(174, 100%, 66%);
  --gradient-1-end: hsl(195, 91%, 37%);
  --gradient-1: linear-gradient(
    135deg,
    var(--gradient-1-start),
    var(--gradient-1-end)
  );
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue-600);
  font-size: 1.8rem;
  font-family: var(--font-kumbh);
  text-align: center;
  padding-inline: 1.6rem;
  position: relative;
  overflow: hidden;
}
.bg-wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}
.bg-top {
  position: absolute;
  background: url("images/bg-pattern-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 978px;
  width: 978px;
  right: 52vw;
  bottom: 34vh;
}
.bg-bottom {
  position: absolute;
  background: url("images/bg-pattern-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 978px;
  width: 978px;
  left: 49vw;
  top: 50vh;
}
@media (max-width: 375px) {
  .bg-top {
    height: 375px;
    width: 375px;
    top: -160px;
    left: -167px;
  }
  .bg-bottom {
    height: 375px;
    width: 375px;
    bottom: -79px;
    right: -167px;
  }
}

.card {
  padding-bottom: var(--spacing-300);
  min-height: 37.4rem;
  max-width: 32.6rem;
  min-width: 21.5rem;
  background: var(--white);
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 50px 100px -20px rgba(8, 70, 94, 0.25);
}
.user-avatar {
  border-radius: 50%;
  margin-top: -64px;
  margin-bottom: var(--spacing-200);
  background: var(--white);
}
.user-avatar img {
  width: 101px;
  height: 101px;
  border: 5px solid var(--white);
  border-radius: 50%;
}
.user-info {
  display: flex;
  flex-flow: column;
  gap: 2.4rem;
}
.name-age-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  justify-content: center;
  align-items: center;
}
.name-age-section h1 {
  color: var(--navy-950);
  font: var(--tp-1-bold-font);
  display: inline;
}
.name-age-section h1 > span {
  color: var(--gray-500);
  font: var(--tp-1-reg-font);
}
.name-age-section p {
  color: var(--gray-500);
  font: var(--tp-2-font);
}
.stats-section {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-100);
  padding-top: var(--spacing-300);
  padding-inline: 3.7rem;
  border-top: 1px solid var(--gray-100);
}
.stat {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-100);
}
.stat h2 {
  color: var(--navy-950);
  font: var(--tp-1-bold-font);
}
.stat p {
  color: var(--gray-500);
  font: var(--tp-3-font);
}
